
.appBox {
  display: flex;
  align-items: center;
  justify-content: center;

}

.loginContainer {
  display: flex;
  flex-direction: column;
  margin-top: 45%;
  width: 329px;
  height: 200px;
  background-color: rgb(253, 250, 250);
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 9px 2px #2CB2FF; 
  box-shadow: 0px 1px 9px 2px #32c958;
}
.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid black;
  font-size: 10pt;
}
.stepsActive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 25px;
  background-color: #32c958;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid black;
  font-size: 10pt;

}
.stepsBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.forms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100px;
  border: 1px border solid black;
  
}
form input {
  font-family: arial;
}
.sendDataButton {
  width: 80px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #32c958;
  color: white;
}
.sendDataButton:hover {
  width: 80px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  -webkit-box-shadow: 0px 1px 5px 2px #e6575e; 
  box-shadow: 0px 1px 5px 2px #e6575e;
}
.goBackButton {
  width: 80px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c95d32;
  color: white;
}
.goBackButton:hover {
  width: 80px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  -webkit-box-shadow: 0px 1px 5px 2px #e6575e; 
  box-shadow: 0px 1px 5px 2px #e6575e;
}
.buttonHolder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;

}
.messageBox {
  width: 320px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid red;
  border-radius: 3px;
  font-size: 8pt;
  font-family: arial;
  padding: 5px;
}

@media only screen and (max-width: 400px) {

.loginContainer {
  display: flex;
  flex-direction: column;
  width: 315px;
  background-color: rgb(253, 250, 250);
  -webkit-box-shadow: 0px 0px 0px 0px #2CB2FF; 
  box-shadow: 0px 0px 0px 0px #32c958;
  border: 1px solid black;

}

}
